body{margin: 0; padding: 0; /*font-family: 'Helvetica Neue Light';*/ /*font-family: 'HNeue-ThinItalic';*/ font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }
a{text-decoration: none !important;}
button:focus{outline: 0}

/* preloader (start) */
#preloader {position: fixed;z-index: 9999999;top: 0;bottom: 0;right: 0;left: 0;background: #000000ab;}
.inner {position: absolute;top: 0; bottom: 0;right: 0; left: 0;width: 54px;height: 54px;margin: auto;}
.page-loader{display:block;width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: #fefefe;z-index: 100000;}
.spinner {width: 50px;height: 40px;text-align: center;font-size: 10px;}
.spinner > div {background-color: #fff;height: 100%;width: 6px;display: inline-block;-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;animation: sk-stretchdelay 1.2s infinite ease-in-out;}
.spinner .rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.spinner .rect3 {-webkit-animation-delay: -1.0s;animation-delay: -1.0s;}
.spinner .rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
.spinner .rect5 {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;}
@-webkit-keyframes sk-stretchdelay {0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  20% { -webkit-transform: scaleY(1.0) }}
@keyframes sk-stretchdelay {0%, 40%, 100% { transform: scaleY(0.4);-webkit-transform: scaleY(0.4);}  20% { transform: scaleY(1.0);-webkit-transform: scaleY(1.0);}}
/* preloader (end) */

/* burger menu (start) */
.burger-area{display: none; width: 100%; float: left; margin-bottom: 125px; position: fixed; z-index: 111}
.burger-area .mb-logo{position: absolute; display: block; z-index: 13; margin-top: 24px;}
.burger-area .mb-logo img{width: 235px;}
.burger-menu{position: absolute; display: none;}
.burger-area label {position: absolute; top: 27px; right: 15px; height: 30px; margin-bottom: 0; width: 40px; z-index: 15;}
.burger-area label span { position: absolute; width: 100%; height: 3px; top: 50%; margin-top: 5px; left: 0; display: block; background: #3c3c3c; transition: .5s; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.burger-area label span:first-child {top: 5px;}
.burger-area label span:last-child {top: 25px;}
.burger-label:hover {cursor: pointer;}
.burger-menu:checked + .container .row .col-md-6 label span {opacity: 0; top: 50%;}
.burger-menu:checked + .container .row .col-md-6 label span:first-child {opacity: 1; transform: rotate(405deg);}
.burger-menu:checked + .container .row .col-md-6 label span:last-child {opacity: 1; transform: rotate(-405deg);}
.burger-menu ~ nav {position: absolute; margin-bottom: 30px; top: 0; left: 0; width: 100%; height: 100px; border-top: 6px solid #3c3c3c; z-index: 12; transition: .5s; transition-delay: .5s; overflow: hidden; -webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,0.50); -moz-box-shadow:0 3px 8px 0 rgba(0,0,0,0.50); box-shadow:0 3px 8px 0 rgba(0,0,0,0.50);}
.burger-menu ~ nav > ul {text-align: center; position: absolute; top: 85px; left: -40px; right: 0;}
.burger-menu ~ nav > ul > li {opacity: 0; transition: .5s; transition-delay: 0s; list-style-type: none;}
.burger-menu ~ nav > ul > li > a {text-decoration: none; color: #3c3c3c; font-size: 20px; display: block; padding: 10px;}
.burger-menu ~ nav > ul > li > .active{font-weight: bold; border-bottom: 3px solid; border-top: 3px solid;}
.burger-menu:checked ~ nav {background: #ffffff; height: 100%; transition-delay: 0s; z-index: 14}
.burger-menu:checked ~ nav > ul > li {opacity: 1; transition-delay: .5s;}
/* burger menu (end) */

/* page loader (start) */
.post-loader-area{position: relative; left: 50%; margin-left: -12px; float: left;}
.post-loader-area .loader {position: relative; width: 24px; height: 24px; margin-bottom: 76px;}
.post-loader-area .loader .chevron{position: absolute; width: 28px; height: 8px; opacity: 0; transform: scale3d(0.5, 0.5, 0.5); animation: move 3s ease-out infinite;}
.post-loader-area .loader .chevron:first-child{animation: move 3s ease-out 1s infinite;}
.post-loader-area .loader .chevron:nth-child(2){animation: move 3s ease-out 2s infinite;}
.post-loader-area .loader .chevron:before,.post-loader-area .loader .chevron:after{content: ' '; position: absolute; top: 0; height: 100%; width: 51%; background: #e8ba00;}
.post-loader-area .loader .chevron:before{left: 0; transform: skew(0deg, 30deg);}
.post-loader-area .loader .chevron:after{right: 0; width: 50%; transform: skew(0deg, -30deg);}
@keyframes move {25% {opacity: 1;} 33%{opacity: 1;transform: translateY(30px);} 67%{opacity: 1;transform: translateY(40px);} 100%{opacity: 0;transform: translateY(55px) scale3d(0.5, 0.5, 0.5);}}
.post-loader-area .loader .text{display: block; margin-top: 0px; margin-left: -30px; position: relative; top: 68px; font-size: 12px; color: #e8ba00; text-transform: uppercase; white-space: nowrap; opacity: .25; animation: pulse 2s linear alternate infinite;}
@keyframes pulse {to {opacity: 1;}}
/* page loader (end) */

/* used everywhere (start) */
.special-area{width: 100%; float: left;}
.special-title{float: left; font-size: 28px; color: #707070; font-weight: 300; border-top: 7px solid #e8ba00;}
.special-form-group{margin-bottom: 35px; display: block; position: relative; float: left; width: 100%;}
.special-form-group .special-label{width: 105px; float: left; color: #707070; font-size: 15px; font-weight: 500;}
.special-form-group .special-input{width: 420px; float: left; color: #707070; font-size: 14px; font-weight: 300; border: 0; border-bottom: 2px solid #efefef}
.special-form-group .special-input:focus{outline: 0}
.special-form-group .special-textarea{width: 420px; height: 145px; float: left; color: #707070; font-size: 14px; font-weight: 300; border: 0; border-bottom: 2px solid #efefef; resize: none; outline: none; -webkit-appearance: none; -moz-appearance: none;}
.special-form-group .special-textarea:focus{outline: 0}
.special-btn-area{width: 100%; float: right; text-align: right; margin-right: 15px; margin-top: 20px; margin-bottom: 30px;}
.special-btn-area a{color: #fff; background: #2c2c2c; font-size: 15px; font-weight: 500; text-align: center; padding: 12px 34px;}
.clear{clear: both;}
.video-modal{padding: 0; margin-bottom: -6px;}
.text-bold{font-size: 16px; color: #707070; font-weight: 500; line-height: 1.6;}
.text-thin{font-size: 14px; color: #707070; font-weight: 300; line-height: 2;}
.font-weight-100{font-weight: 100;}
.animated.delay-2s{-webkit-animation-delay: 0.2s; animation-delay: 0.2s;}
.animated.delay-4s{-webkit-animation-delay: 0.4s; animation-delay: 0.4s;}
.animated.delay-6s{-webkit-animation-delay: 0.6s; animation-delay: 0.6s;}
.animated.delay-8s{-webkit-animation-delay: 0.8s; animation-delay: 0.8s;}
.animated.delay-10s{-webkit-animation-delay: 1.0s; animation-delay: 1.0s;}
.animated.delay-12s{-webkit-animation-delay: 1.2s; animation-delay: 1.2s;}
.animated.delay-14s{-webkit-animation-delay: 1.4s; animation-delay: 1.4s;}
.animated.delay-16s{-webkit-animation-delay: 1.6s; animation-delay: 1.6s;}
.animated.delay-18s{-webkit-animation-delay: 1.6s; animation-delay: 1.8s;}
.animated.delay-20s{-webkit-animation-delay: 1.6s; animation-delay: 2s;}
/* used everywhere (end) */

/* borders (start) */
.slider-border{width: 0; height: 7px; background: #2c2c2c; position: absolute; bottom: 80px; left: -60px;}
.homepage-border-right1{width: 12px; height: 0; background: #58595b; position: absolute; top: -210px; right: -130px;}
.homepage-border-left1{width: 12px; height: 0px; background: #e8ba00; position: absolute; top: -150px; left: -130px;}
.career-border{width: 0; height: 7px; background: #e8ba00; position: absolute; bottom: 45px; right: -50px;}
.footer-border{width: 7px; height: 0; background: #e8ba00; position: absolute; top: -370px; right: -130px; z-index: 2;}
.article-border{width: 0; height: 7px; background: #58595b; position: absolute; bottom: -35px; left: -60px;}
.articlepage-border{width: 0px; height: 7px; background: #efefef; position: absolute; bottom: -35px; right: -30px;}
.articlepage-border-left{width: 12px; height: 0px; background: #58595b; position: absolute; top: 130px; left: -130px;}
.article-detailpage-border{width: 0px; height: 7px; background: #efefef; position: absolute; bottom: -35px; right: -30px;}
.article-detailpage-border-left{width: 12px; height: 0px; background: #58595b; position: absolute; top: 150px; left: -130px;}
.careerpage-border{width: 0px; height: 7px; background: #efefef; position: absolute; bottom: -35px; right: -30px;}
.careerpage-border-left{width: 12px; height: 0px; background: #58595b; position: absolute; top: 70px; left: -130px;}
.contactpage-border{width: 0px; height: 7px; background: #efefef; position: absolute; bottom: -35px; right: -30px;}
.contactpage-border-left{width: 12px; height: 0px; background: #58595b; position: absolute; top: 130px; left: -130px;}
.teampage-border{width: 0px; height: 7px; background: #efefef; position: absolute; bottom: -35px; right: -30px;}
.teampage-border-left{width: 12px; height: 0px; background: #58595b; position: absolute; top: 100px; left: -130px;}
.projectpage-top-border{width: 0px; height: 7px; background: #efefef; position: absolute; bottom: -12px; left: -50px;}
.projectpage-border-left{width: 12px; height: 0px; background: #e8ba00; position: absolute; top: 550px; left: -130px;}
.projectpage-border-right{width: 12px; height: 0px; background: #58595b; position: absolute; top: 170px; right: -130px;}
.projectpage-bottom-border{width: 0px; height: 7px; background: #58595b; position: absolute; bottom: 10px; left: -50px;}
.project-detailpage-border{width: 0px; height: 7px; background: #efefef; position: absolute; bottom: 65px; right: -30px;}
.project-detailpage-border-left{width: 12px; height: 0px; background: #58595b; position: absolute; top: 100px; left: -130px;}
/* borders (start) */

header{float: left; position: fixed; width: 100%; height: 110px; z-index: 1; margin-bottom: 8px; border-top: 6px solid #3c3c3c;}
header .logo{position: relative; float: left; margin-top: 28px;}
header .logo img{width: 242px;}
header .right-area{position: relative; float: right;}
header .right-area .menu{position: relative; float: left;}
header .right-area .menu a{color: #3c3c3c; padding: 41px 14px 48px 14px; font-size: 15px; font-weight: 300; position: relative; float: left;}
header .right-area .menu a::after{content: ""; position: absolute; top: 0; left: 0; right: 0; height: 7px; width: 0%; background: #e8ba00;}
header .right-area .menu .active::after{width: 100%; transition: 0.6s; -webkit-transition: 0.6s; -ms-transition: 0.6s; transform-style: preserve-3d;transition: 0.6s; -webkit-transition: 0.6s; -ms-transition: 0.6s; transform-style: preserve-3d;}
header .right-area .menu a:hover::after{width: 100%; transition: 0.6s; -webkit-transition: 0.6s; -ms-transition: 0.6s; transform-style: preserve-3d;}
header .right-area .language{position: relative; float: left;}
header .right-area .language a{color: #3c3c3c; padding: 44px 14px; font-weight: 300; float: left;}
header .right-area .language::after{content: ""; position: absolute; top: 50%; left: 50%; margin-left: -24px; margin-top: -10px; height: 20px; width: 1px; background: #3c3c3c}
section {width: 100%; float: left;}
.header-bg{width: 100%; height: 375px; float: left; z-index: 0; position: absolute; top: 0; right: 0; left: 0; background: url('/assets/frontend/img/header-bg.svg') center center no-repeat;}
.header-hidden-area{width: 100%; float: left; height: 118px;}
.slider-area{position: relative;}
.slider-area .carousel-control-next{background: #2c2c2c; opacity: 0.9; top: 46%; bottom: 46%; right: 20px; width: 36px; padding-left: 2px}
.slider-area .carousel-control-prev{background: #2c2c2c; opacity: 0.9; top: 46%; bottom: 46%; left: 20px; width: 36px; padding-right: 1px}
.slider-area .carousel-control-next-icon{background: url('/assets/frontend/img/slider-right.svg') center center no-repeat; width: 20px;}
.slider-area .carousel-control-prev-icon{background: url('/assets/frontend/img/slider-left.svg') center center no-repeat; width: 20px;}
.slider-area .carousel-caption{text-align: left; bottom: 74px; font-size: 35px; line-height: 1.2; right: 48%; left: 11%; font-weight: 300; color: #2c2c2c;}
.video-area{position: relative; margin-top: 20px; margin-bottom: 20px;}
.video-area .video-img-area{position: relative; width: 100%; height: 310px; float: left; background: url('/assets/frontend/img/video-img.png') center center no-repeat #fbfbfb; }
.video-area .video-img-area .play-btn{position: absolute; top: 50%; left: 50%; cursor: pointer; margin-left: -30px; margin-top: -29px; padding: 15px 19px 14px 23px; border: 6px solid #3c3c3c;}
.video-area .video-img-area .play-btn .play-icon{font-size: 20px; color: #3c3c3c;}
.company-detail{position: relative; width: 100%; height: 310px; overflow: hidden; float: left; border: 6px solid #efefef; padding: 0px 30px;}
.company-detail .title{float: left; display: block; font-size: 28px; color: #707070; font-weight: 100; border-top: 6px solid #efefef; margin-bottom: 15px; margin-top: 30px;}
.company-detail .short-detail{float: left; width: 100%; font-size: 15px; color: #707070; font-weight: 400; margin-bottom: 15px;}
.company-detail .detail{float: left; width: 100%; font-size: 13px; color: #707070de; font-weight: 200;}
.project-area{position: relative; margin-top: 30px;}
.project-area .projects{width: 100%; float: left; margin-top: 25px;}
.project-area .projects .category{width: 100%; float: left; padding: 17px 15px 15px 15px; border: 6px solid #fff; margin-bottom: 1px; transition: 0.6s; -webkit-transition: 0.6s; -ms-transition: 0.6s; transform-style: preserve-3d;}
.project-area .projects .category:hover{border: 6px solid #efefef;}
.project-area .projects .active{border: 6px solid #efefef;}
.project-area .projects .category .icon{width: 100%; float: left; text-align: center;}
.project-area .projects .category .icon img{width: 100px; height: 55px; object-fit: contain;}
.project-area .projects .category .text{width: 100%; float: left; font-size: 12px; color: #707070; font-weight: 300; text-align: center; margin-top: 9px; line-height: 1.4;}
.project-area .items{width: 100%; float: left; margin-top: 50px; margin-bottom: 50px;}
.project-area .items .box{width: 100%; float: left; padding: 25px 21px 18px 21px; margin-bottom: 30px; border: 3px solid #707070;}
.project-area .items .box:hover{border: 6px solid #e8ba00; padding: 22px 18px 15px 18px;}
.project-area .items .box .title{width: 100%; height: 145px; float: left; color: #2c2c2c; font-size: 19px; font-weight: 300; line-height: 1.27;}
.project-area .items .box .underside{width: 100%; float: left; position: relative;}
.project-area .items .box .underside .text{float: left; height: 140px; font-size: 11px; color: #707070; font-weight: 300; margin-left: 25px; position: relative; top: 25px; transform: rotate(270deg);}
.project-area .items .box .underside .icon{float: right; position: absolute; bottom: 0px; right: 0px;}
.project-area .items .box .underside .icon img{width: 43px;}
.project-detail-area{position: relative; margin-top: 30px; margin-bottom: 80px;}
.project-detail-area .main-title{width: 242px; float: left; padding-top: 5px; font-size: 25px; color: #707070; font-weight: 200; border-top: 7px solid #e8ba00; line-height: 1.2;}
.project-detail-area .content{position: relative; width: 100%; float: left; margin-top: 30px; padding-right: 20px;}
.project-detail-area .content .category-icon{width: 100%; float: left;}
.project-detail-area .content .category-icon img{width: 45px; margin-left: 0px; margin-bottom: 0px; margin-top: 0px;}
.project-detail-area .content .category-text{width: 100%; float: left; font-size: 13px; color: #707070; font-weight: 300; margin-top: 5px;}
.project-detail-area .content .detail{width: 100%; float: left; font-size: 13px; color: #707070; font-weight: 300; margin-top: 20px; line-height: 2}
.project-detail-area .project-nav{position: relative; width: 100%; float: left; margin-top: 55px;}
.project-detail-area .project-nav a{float: left; display: block; color: #707070; padding: 4px 7px 7px 7px; border: 2px solid #707070; margin-right: 7px}
.project-detail-area .project-nav a:first-child{padding: 4px 7px 7px 6px;}
.project-detail-area .project-nav a:last-child{padding: 4px 6px 7px 7px;}
.project-detail-area .project-nav a img{width: 21px; height: 21px; margin: 0; padding: 0;}
.career-area{position: relative; margin-top: 80px; margin-bottom: 30px;}
.career-area .text-area{width: 100%; float: left; border: 6px solid #efefef; padding: 48px 20px; text-align: center;}
.career-area .text-area .title{display: inline-block; font-size: 23px; color: #707070; font-weight: 300;}
.career-area .text-area .btn-area{display: inline-block; font-size: 14px; color: #fff; background: #2c2c2c; border: 4px solid #2c2c2c; padding: 5px 35px; margin-left: 50px;  transition: 0.6s; -webkit-transition: 0.6s; -ms-transition: 0.6s; transform-style: preserve-3d;}
.career-area .text-area .btn-area:hover{background: #fff; border: 4px solid #e8ba00; color: #2c2c2c;}
.article-area{position: relative; margin-top: 30px; margin-bottom: 55px;}
.article-area .box{position: relative; display: block; float: left; width: 100%; margin-bottom: 30px; background: #3c3c3c; color: #f9f9f9; font-weight: 300; padding: 15px 15px; border: 7px solid #3c3c3c; transition: 0.6s; -webkit-transition: 0.6s; -ms-transition: 0.6s; transform-style: preserve-3d;}
.article-area .box:hover{background: #fff; border: 7px solid #e8ba00; color: #2c2c2c; font-weight: 300;}
.article-area .box .date{width: 100%; float: left; font-size: 10px; margin-bottom: 10px;}
.article-area .box .title{width: 100%; height: 120px; float: left; font-size: 19px; line-height: 1.27;}
.article-area .box .author-area{width: 100%; float: left; margin-top: 8px;}
.article-detail-area .box .author-area{position: relative; width: 100%; float: left;}
.article-area .box .author-area .icon-area{float: left; width: 20px; height: 23px; margin-top: 11.2px; margin-right: 3px; background: url('/assets/frontend/img/article-author-icon.svg') center center no-repeat;}
.article-area .box:hover .author-area .icon-area{width: 20px;background: url('/assets/frontend/img/article-author-active.svg') center center no-repeat; transition: 0.6s; -webkit-transition: 0.6s; -ms-transition: 0.6s; transform-style: preserve-3d;}
.article-area .box .author-area .icon-area .img{width: 20px;}
.article-area .box .author-area .text-area{float: left; margin-top: 11px;}
.article-area .box .author-area .text-area .fullname{font-size: 13px; line-height: 1;}
.article-area .box .author-area .text-area .sector{font-size: 11px; line-height: 1;}
.article-area .content{width: 100%; float: left; margin-top: 30px;}
.article-area .article-owl{width: 100%; float: left; position: relative; margin-top: 20px;}
.article-area .article-owl .owl-nav{display: none;}
.article-area .article-owl .owl-theme .owl-dots .owl-dot span{width: 20px; height: 20px; background: #fff; border: 3px solid #707070; text-decoration: none;}
.article-area .article-owl .owl-theme .owl-dots .owl-dot.active span{background: #707070;}
.article-detail-area{position: relative; margin-top: 30px; margin-bottom: 80px;}
.article-detail-area .main-title{width: 242px; float: left; padding-top: 5px; font-size: 25px; color: #707070; font-weight: 200; border-top: 7px solid #e8ba00; line-height: 1.2;}
.article-detail-area .box{position: relative; float: right;}
.article-detail-area .box .date{width: 100%; text-align: right; font-size: 14px; color: #707070; font-weight: 300; margin-bottom: 2px;}
.article-detail-area .box .author-area{position: relative; width: 100%; float: left;}
.article-detail-area .box .author-area .icon-area{float: left; margin-top: 9.2px; margin-right: 3px;}
.article-detail-area .box .author-area .icon-area .author-icon{font-size: 22px; color: #707070;}
.article-detail-area .box .author-area .text-area{float: left; margin-top: 8px;}
.article-detail-area .box .author-area .text-area .fullname{font-size: 13px; line-height: 1; color: #707070; font-weight: 300;}
.article-detail-area .box .author-area .text-area .sector{font-size: 11px; line-height: 1; color: #707070; font-weight: 300;}
.article-detail-area .content{position: relative; width: 100%; float: left; margin-top: 60px;}
.article-detail-area .content .top-area{margin-bottom: 30px;}
.article-detail-area .content .bottom-area{margin-bottom: 30px;}
.about-area{position: relative; margin-top: 30px; margin-bottom: 70px;}
.about-area .content{width: 100%; float: left; margin-top: 50px;}
.about-area .content .top-area{width: 100%; float: left; margin-bottom: 20px;}
.about-area .content .bottom-area{width: 100%; float: left; margin-bottom: 30px;}
.about-area .icon-area{margin-top: 50px;}
.about-area .icon-area img{width: 255px;}
.team-area{position: relative; margin-top: 30px; margin-bottom: 70px;}
.team-area .content{width: 100%; float: left; margin-top: 30px;}
.team-area .content .box{position: relative; float: left; width: 100%; padding: 40px 20px; border: 6px solid #efefef; margin-bottom: 30px; text-align: center; transition: 0.6s; -webkit-transition: 0.6s; -ms-transition: 0.6s; transform-style: preserve-3d;}
.team-area .content .box:hover{border-color: #e8ba00;}
.team-area .content .box .fullname{width: 100%; float: left; font-size: 15px; color: 707070; font-weight: 300;}
.team-area .content .box .title{width: 100%; float: left; font-size: 15px; color: 707070; font-weight: 300;}
.contact-area{position: relative; margin-top: 30px; margin-bottom: 55px;}
.contact-area .map-area{position: relative; width: 100%; float: left; margin-top: 20px; margin-bottom: 20px;}
.contact-area .address{width: 100%; float: left; margin-bottom: 33px;}
.contact-area .address .title{width: 100%; float: left; color: #707070; font-size: 16px; font-weight: 500; margin-bottom: 8px;}
.contact-area .address .detail{width: 100%; float: left; color: #707070; font-size: 14px; font-weight: 300; line-height: 1.7; margin-bottom: 18px;}
.contact-area .contact-us{position: relative; width: 100%; float: left; margin-top: 25px;}
.career-area-page{position: relative; margin-top: 30px; margin-bottom: 55px;}
.career-area-page .content{position: relative; width: 100%; float: left; margin-top: 25px;}
.career-area-page .detail{width: 100%; float: left; font-size: 14px; color: #707070; font-weight: 300; line-height: 2; margin-top: 40px; margin-bottom: 50px;}
.career-area-page .file-area .inputfile{width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;}
.career-area-page .file-area label img{width: 37px; cursor: pointer;}
.career-area-page .file-area label .file-text{color: #707070; font-size: 14px; font-weight: 300;}
.footer-bg{width: 100%; height: 200px; float: left; z-index: 0; position: absolute; bottom: 0px; overflow: hidden; right: 0; left: 0; background: url('/assets/frontend/img/footer-bg.svg') center center no-repeat;}
footer{position: relative; width: 100%; float: left; z-index: 1; background: #2c2c2c; padding: 70px 0; margin-top: 30px;}
footer .logo-icon{width: 100%; float: left; margin-bottom: 100px;}
footer .logo-icon img{width: 80px;}
footer .copyright-area{width: 100%; float: left; font-size: 12px; color: #c6c6c6; font-weight: 300;}
footer .right-area{width: 100%; float: right; text-align: right;}
footer .right-area .phone{float: right; display: block; color: #c6c6c6; font-size: 17px; font-weight: 300; border-top: 6px solid #707070; padding-top: 8px;}
footer .right-area .address{width: 100%; float: right; display: block; color: #c6c6c6; font-size: 13px; font-weight: 300; margin-top: 10px;}
footer .right-area .links{width: 100%; float: right; position: relative; margin-top: 65px;}
footer .right-area .links .social-area{float: right; margin-right: 12px;}
footer .right-area .links .social-area a{color: #efefef; font-size: 14px; border: 2px solid #efefef; margin-right: 5px;}
footer .right-area .links .social-area .icon-tw{padding: 4px 2px 4px 6px;}
footer .right-area .links .social-area .icon-in{padding: 4px 3px 4px 7px;}
footer .right-area .links .social-area .icon-you{padding: 4px 5px 4px 6px;}
footer .right-area .links .languages{float: right;}
footer .right-area .links .languages a{color: #c6c6c6; font-size: 13px; margin-right: 2px; font-weight: 300;}
footer .right-area .links .languages .active{color:#efefef; border-bottom: 3px solid #efefef; padding-bottom: 3px;}

@media screen and (max-width: 1420px){
	.slider-border, .homepage-border-right1, .homepage-border-left1, .career-border, .footer-border, .article-border,
	.articlepage-border, .articlepage-border-left, .article-detailpage-border, .article-detailpage-border-left,
	.careerpage-border, .careerpage-border-left, .contactpage-border, .contactpage-border-left, .teampage-border,
	.teampage-border-left, .projectpage-top-border, .projectpage-border-left, .projectpage-border-right, .projectpage-bottom-border,
	.project-detailpage-border, .project-detailpage-border-left{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.company-detail .title{margin-top: 20px;}
	.article-area .box .title{height: 140px;}
	.project-area .items .box .title{height: 155px;}
	.slider-area .carousel-control-prev{top: 45%; bottom: 45%;}
	.slider-area .carousel-control-next{top: 45%; bottom: 45%;}
}

@media screen and (max-width: 1199px){
	.special-form-group .special-label{width: 100%;}
	.special-form-group .special-input{width: 100%;}
	.special-form-group .special-textarea{width: 100%; height: 189px;}
	.special-btn-area{margin-right: 0;}
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.slider-area .carousel-caption{bottom: 0;}
	.slider-area .carousel-control-prev{top: 43%; bottom: 43%;}
	.slider-area .carousel-control-next{top: 43%; bottom: 43%;}
	.video-area .video-img-area{height: 335px;}
	.company-detail{padding: 0px 19px; height: 335px;}
	.company-detail .title{margin-bottom: 7px; margin-top: 20px; font-size: 25px;}
	.company-detail .short-detail{margin-bottom: 7px; font-size: 14px;}
	.article-area .box .title{height: 130px;}
}

@media screen and (min-width: 991px){
	.burger-area{display: none !important;}
}

@media screen and (max-width: 991px){
	.burger-area{display: block;}
	header{display: none !important;}
	.header-hidden-area{height: 130px;}
	.project-detail-area .content{padding-right: 0; margin-bottom: 10px;}
	.project-detail-area .main-title{width: 100%;}
}

@media screen and (max-width: 767px){
	.video-area .video-img-area{margin-bottom: 20px;}
	.company-detail{height: auto;}
	.company-detail .detail{margin-bottom: 25px;}
	.about-area .content{margin-top: 30px;}
	.career-area .text-area .btn-area{margin-left: 0; margin-top: 10px;}
	.slider-area .carousel-caption{left: 17%; right: 17%; bottom: 18px;}
	.slider-area .carousel-control-next{right: 0;}
	.slider-area .carousel-control-prev{left: 0;}
	.slider-area .carousel-item img{height: 420px;}
	.about-area .icon-area{margin-top: 20px;}
	.article-detail-area .box{margin-bottom: 10px; width: 100%;}
	.article-detail-area .box .date{width: 100px; margin-top: 6px; float: right;}
	.article-detail-area .box .author-area{width: 160px;}
	.article-detail-area .main-title{width: 100%;}
	.article-detail-area{margin-top: 0;}
	.article-detail-area .content{margin-top: 30px;}
	.career-area{margin-top: 35px;}
	footer .copyright-area{position: relative; bottom: -230px; text-align: center;}
	footer .logo-icon{margin-bottom: 20px;}
	footer .logo-icon img{width: 82px; position: relative; left: 50%; margin-left: -41px;}
	footer .right-area{float: left; text-align: center; width: 234px; position: relative; left: 50%; margin-left: -117px;}
	footer .right-area .phone{float: left; text-align: center; width: 100%;}
	footer .right-area .links{margin-top: 35px;}
	footer .right-area .links .languages{float: none; margin-bottom: 17px;}
	footer .right-area .links .social-area{float: none; margin-right: 0;}
	footer .right-area .links .social-area a{margin-right: 3px; margin-left: 3px;}
}

@media screen and (max-width: 320px){
	
}







